{% extends "index.html" %}

{% block content %}
<h2>{{ product.product_name }}</h2>
<p>Price: £{{ product.price }}</p>
<p>{{ product.description }}</p>
<p>Environment: {{ product.environment }}</p>

<form method="POST" action="{{ url_for('cart') }}">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <button type="submit">Add to bag</button>
</form>

<img src="/path/to/ads.jpg" alt="Image ads"> 
{% endblock content %}
